@use "@/styles/abstracts/variables" as *;

.profile {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &__loading {
    text-align: center;
    padding: 2rem;
    color: $gold;
    font-size: 0.9rem;
    opacity: 0.8;
  }
}
