@use "@/styles/abstracts/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $gold;
}

li {
   
    list-style: none !important;
}

a {
    text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 !important;
}