//color variables
$primary:rgba(242, 180, 59, .7);      
$secondary: #ac8353; 
$info : #2a0802;
$special : #490c08; 
$artist : #c78900;
$song : #d7bb8a;
$gold:#C5A676;
$highlight: #ba7b31;
$copyright: #ffac4f;

/* d08322 */
